### C/C++ ###
# Object files
*.o
*.slo
*.lo

# Libraries
*.lib
*.a

# Shared objects
*.dll
*.so
*.so.*
*.dylib
*.lai
*.la

# Executables
*.exe
*.out
*.app

### LaTeX ###
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo

